In [7]:
import pandas as pd # type: ignore

### Reading CSV files

##### Tips
- Use r'' to read it as a string literal even with the backslashes
- methods
  - read_csv(...)
  - read_table(..., sep=',' || delimiter=',')
- kwargs
  - header
    - which row is the header and keep rows below it
    - None creates indexes as an header and makes the old header a row of data
  - names
    - creating your own header

In [30]:
pd.read_csv(r'resources\countries of the world.csv', header = None, names = ['C', 'R'])

                   C                                    R
0            Country                               Region
1       Afghanistan         ASIA (EX. NEAR EAST)
2           Albania   EASTERN EUROPE
3           Algeria   NORTHERN AFRICA
4    American Samoa   OCEANIA
..               ...                                  ...
223       West Bank   NEAR EAST
224  Western Sahara   NORTHERN AFRICA
225           Yemen   NEAR EAST
226          Zambia   SUB-SAHARAN AFRICA
227        Zimbabwe   SUB-SAHARAN AFRICA

[228 rows x 2 columns]

#### Reading Text Files

##### Tips
- methods
  - read_csv(..., sep='\t' || delimiter='\t')
  - read_table(...)
- Kwrags

In [41]:
df1 = pd.read_csv(r'resources\countries of the world.txt', delimiter='\t')
pd.read_csv(r'resources\countries of the world.txt', sep='\t')

                               Country                               Region
0                         Afghanistan         ASIA (EX. NEAR EAST)
1                             Albania   EASTERN EUROPE
2                             Algeria   NORTHERN AFRICA
3                      American Samoa   OCEANIA
4                             Andorra   WESTERN EUROPE
5                              Angola   SUB-SAHARAN AFRICA
6                            Anguilla               LATIN AMER. & CARIB
7                   Antigua & Barbuda               LATIN AMER. & CARIB
8                           Argentina               LATIN AMER. & CARIB
9                             Armenia                  C.W. OF IND. STATES
10                              Aruba               LATIN AMER. & CARIB
11                          Australia   OCEANIA
12                            Austria   WESTERN EUROPE
13                         Azerbaijan                  C.W. OF IND. STATES
14                       Bahamas, The               LATIN AMER. & CARIB
15                            Bahrain   NEAR EAST
16                         Bangladesh         ASIA (EX. NEAR EAST)
17                           Barbados               LATIN AMER. & CARIB
18                            Belarus                  C.W. OF IND. STATES
19                            Belgium   WESTERN EUROPE
20                             Belize               LATIN AMER. & CARIB
21                              Benin   SUB-SAHARAN AFRICA
22                            Bermuda   NORTHERN AMERICA
23                             Bhutan         ASIA (EX. NEAR EAST)
24                            Bolivia               LATIN AMER. & CARIB
25               Bosnia & Herzegovina   EASTERN EUROPE
26                           Botswana   SUB-SAHARAN AFRICA
27                             Brazil               LATIN AMER. & CARIB
28                 British Virgin Is.               LATIN AMER. & CARIB
29                             Brunei         ASIA (EX. NEAR EAST)
30                           Bulgaria   EASTERN EUROPE
31                       Burkina Faso   SUB-SAHARAN AFRICA
32                              Burma         ASIA (EX. NEAR EAST)
33                            Burundi   SUB-SAHARAN AFRICA
34                           Cambodia         ASIA (EX. NEAR EAST)
35                           Cameroon   SUB-SAHARAN AFRICA
36                             Canada   NORTHERN AMERICA
37                         Cape Verde   SUB-SAHARAN AFRICA
38                     Cayman Islands               LATIN AMER. & CARIB
39               Central African Rep.   SUB-SAHARAN AFRICA
40                               Chad   SUB-SAHARAN AFRICA
41                              Chile               LATIN AMER. & CARIB
42                              China         ASIA (EX. NEAR EAST)
43                           Colombia               LATIN AMER. & CARIB
44                            Comoros   SUB-SAHARAN AFRICA
45                   Congo, Dem. Rep.   SUB-SAHARAN AFRICA
46               Congo, Repub. of the   SUB-SAHARAN AFRICA
47                       Cook Islands   OCEANIA
48                         Costa Rica               LATIN AMER. & CARIB
49                      Cote d'Ivoire   SUB-SAHARAN AFRICA
50                            Croatia   EASTERN EUROPE
51                               Cuba               LATIN AMER. & CARIB
52                             Cyprus   NEAR EAST
53                     Czech Republic   EASTERN EUROPE
54                            Denmark   WESTERN EUROPE
55                           Djibouti   SUB-SAHARAN AFRICA
56                           Dominica               LATIN AMER. & CARIB
57                 Dominican Republic               LATIN AMER. & CARIB
58                         East Timor         ASIA (EX. NEAR EAST)
59                            Ecuador               LATIN AMER. & CARIB
60                              Egypt   NORTHERN AFRICA
61                        El Salvador               LATIN AMER. & CARIB
62                  Equatorial Guinea   SUB-SAHARAN AFRICA
63                            Eritrea   SUB-SAHARAN AFRICA
64                            Estonia   BALTICS
65                           Ethiopia   SUB-SAHARAN AFRICA
66                      Faroe Islands   WESTERN EUROPE
67                               Fiji   OCEANIA
68                            Finland   WESTERN EUROPE
69                             France   WESTERN EUROPE
70                      French Guiana               LATIN AMER. & CARIB
71                   French Polynesia   OCEANIA
72                              Gabon   SUB-SAHARAN AFRICA
73                        Gambia, The   SUB-SAHARAN AFRICA
74                         Gaza Strip   NEAR EAST
75                            Georgia                  C.W. OF IND. STATES
76                            Germany   WESTERN EUROPE
77                              Ghana   SUB-SAHARAN AFRICA
78                          Gibraltar   WESTERN EUROPE
79                             Greece   WESTERN EUROPE
80                          Greenland   NORTHERN AMERICA
81                            Grenada               LATIN AMER. & CARIB
82                         Guadeloupe               LATIN AMER. & CARIB
83                               Guam   OCEANIA
84                          Guatemala               LATIN AMER. & CARIB
85                           Guernsey   WESTERN EUROPE
86                             Guinea   SUB-SAHARAN AFRICA
87                      Guinea-Bissau   SUB-SAHARAN AFRICA
88                             Guyana               LATIN AMER. & CARIB
89                              Haiti               LATIN AMER. & CARIB
90                           Honduras               LATIN AMER. & CARIB
91                          Hong Kong         ASIA (EX. NEAR EAST)
92                            Hungary   EASTERN EUROPE
93                            Iceland   WESTERN EUROPE
94                              India         ASIA (EX. NEAR EAST)
95                          Indonesia         ASIA (EX. NEAR EAST)
96                               Iran         ASIA (EX. NEAR EAST)
97                               Iraq   NEAR EAST
98                            Ireland   WESTERN EUROPE
99                        Isle of Man   WESTERN EUROPE
100                            Israel   NEAR EAST
101                             Italy   WESTERN EUROPE
102                           Jamaica               LATIN AMER. & CARIB
103                             Japan         ASIA (EX. NEAR EAST)
104                            Jersey   WESTERN EUROPE
105                            Jordan   NEAR EAST
106                        Kazakhstan                  C.W. OF IND. STATES
107                             Kenya   SUB-SAHARAN AFRICA
108                          Kiribati   OCEANIA
109                      Korea, North         ASIA (EX. NEAR EAST)
110                      Korea, South         ASIA (EX. NEAR EAST)
111                            Kuwait   NEAR EAST
112                        Kyrgyzstan                  C.W. OF IND. STATES
113                              Laos         ASIA (EX. NEAR EAST)
114                            Latvia   BALTICS
115                           Lebanon   NEAR EAST
116                           Lesotho   SUB-SAHARAN AFRICA
117                           Liberia   SUB-SAHARAN AFRICA
118                             Libya   NORTHERN AFRICA
119                     Liechtenstein   WESTERN EUROPE
120                         Lithuania   BALTICS
121                        Luxembourg   WESTERN EUROPE
122                             Macau         ASIA (EX. NEAR EAST)
123                         Macedonia   EASTERN EUROPE
124                        Madagascar   SUB-SAHARAN AFRICA
125                            Malawi   SUB-SAHARAN AFRICA
126                          Malaysia         ASIA (EX. NEAR EAST)
127                          Maldives         ASIA (EX. NEAR EAST)
128                              Mali   SUB-SAHARAN AFRICA
129                             Malta   WESTERN EUROPE
130                  Marshall Islands   OCEANIA
131                        Martinique               LATIN AMER. & CARIB
132                        Mauritania   SUB-SAHARAN AFRICA
133                         Mauritius   SUB-SAHARAN AFRICA
134                           Mayotte   SUB-SAHARAN AFRICA
135                            Mexico               LATIN AMER. & CARIB
136              Micronesia, Fed. St.   OCEANIA
137                           Moldova                  C.W. OF IND. STATES
138                            Monaco   WESTERN EUROPE
139                          Mongolia         ASIA (EX. NEAR EAST)
140                        Montserrat               LATIN AMER. & CARIB
141                           Morocco   NORTHERN AFRICA
142                        Mozambique   SUB-SAHARAN AFRICA
143                           Namibia   SUB-SAHARAN AFRICA
144                             Nauru   OCEANIA
145                             Nepal         ASIA (EX. NEAR EAST)
146                       Netherlands   WESTERN EUROPE
147              Netherlands Antilles               LATIN AMER. & CARIB
148                     New Caledonia   OCEANIA
149                       New Zealand   OCEANIA
150                         Nicaragua               LATIN AMER. & CARIB
151                             Niger   SUB-SAHARAN AFRICA
152                           Nigeria   SUB-SAHARAN AFRICA
153                N. Mariana Islands   OCEANIA
154                            Norway   WESTERN EUROPE
155                              Oman   NEAR EAST
156                          Pakistan         ASIA (EX. NEAR EAST)
157                             Palau   OCEANIA
158                            Panama               LATIN AMER. & CARIB
159                  Papua New Guinea   OCEANIA
160                          Paraguay               LATIN AMER. & CARIB
161                              Peru               LATIN AMER. & CARIB
162                       Philippines         ASIA (EX. NEAR EAST)
163                            Poland   EASTERN EUROPE
164                          Portugal   WESTERN EUROPE
165                       Puerto Rico               LATIN AMER. & CARIB
166                             Qatar   NEAR EAST
167                           Reunion   SUB-SAHARAN AFRICA
168                           Romania   EASTERN EUROPE
169                            Russia                  C.W. OF IND. STATES
170                            Rwanda   SUB-SAHARAN AFRICA
171                      Saint Helena   SUB-SAHARAN AFRICA
172               Saint Kitts & Nevis               LATIN AMER. & CARIB
173                       Saint Lucia               LATIN AMER. & CARIB
174              St Pierre & Miquelon   NORTHERN AMERICA
175  Saint Vincent and the Grenadines               LATIN AMER. & CARIB
176                             Samoa   OCEANIA
177                        San Marino   WESTERN EUROPE
178               Sao Tome & Principe   SUB-SAHARAN AFRICA
179                      Saudi Arabia   NEAR EAST
180                           Senegal   SUB-SAHARAN AFRICA
181                            Serbia   EASTERN EUROPE
182                        Seychelles   SUB-SAHARAN AFRICA
183                      Sierra Leone   SUB-SAHARAN AFRICA
184                         Singapore         ASIA (EX. NEAR EAST)
185                          Slovakia   EASTERN EUROPE
186                          Slovenia   EASTERN EUROPE
187                   Solomon Islands   OCEANIA
188                           Somalia   SUB-SAHARAN AFRICA
189                      South Africa   SUB-SAHARAN AFRICA
190                             Spain   WESTERN EUROPE
191                         Sri Lanka         ASIA (EX. NEAR EAST)
192                             Sudan   SUB-SAHARAN AFRICA
193                          Suriname               LATIN AMER. & CARIB
194                         Swaziland   SUB-SAHARAN AFRICA
195                            Sweden   WESTERN EUROPE
196                       Switzerland   WESTERN EUROPE
197                             Syria   NEAR EAST
198                            Taiwan         ASIA (EX. NEAR EAST)
199                        Tajikistan                  C.W. OF IND. STATES
200                          Tanzania   SUB-SAHARAN AFRICA
201                          Thailand         ASIA (EX. NEAR EAST)
202                              Togo   SUB-SAHARAN AFRICA
203                             Tonga   OCEANIA
204                 Trinidad & Tobago               LATIN AMER. & CARIB
205                           Tunisia   NORTHERN AFRICA
206                            Turkey   NEAR EAST
207                      Turkmenistan                  C.W. OF IND. STATES
208                 Turks & Caicos Is               LATIN AMER. & CARIB
209                            Tuvalu   OCEANIA
210                            Uganda   SUB-SAHARAN AFRICA
211                           Ukraine                  C.W. OF IND. STATES
212              United Arab Emirates   NEAR EAST
213                    United Kingdom   WESTERN EUROPE
214                     United States   NORTHERN AMERICA
215                           Uruguay               LATIN AMER. & CARIB
216                        Uzbekistan                  C.W. OF IND. STATES
217                           Vanuatu   OCEANIA
218                         Venezuela               LATIN AMER. & CARIB
219                           Vietnam         ASIA (EX. NEAR EAST)
220                    Virgin Islands               LATIN AMER. & CARIB
221                 Wallis and Futuna   OCEANIA
222                         West Bank   NEAR EAST
223                    Western Sahara   NORTHERN AFRICA
224                             Yemen   NEAR EAST
225                            Zambia   SUB-SAHARAN AFRICA
226                          Zimbabwe   SUB-SAHARAN AFRICA

#### Reading JSON files

##### Tips
- methods
  - read_json(...)

In [43]:
df2 = pd.read_json(r'resources\json_sample.json')
df2

,12 Strong,A Fantastic Woman (Una Mujer FantÃ¡stica),All The Money In The World,Bilal: A New Breed Of Hero,Call Me By Your Name,Darkest Hour,Den Of Thieves,Ferdinand,Fifty Shades Freed,Film Stars Don'T Die In Liverpool,Forever My Girl,Golden Exits,Hostiles,"I, Tonya",Insidious: The Last Key,Jumanji: Welcome To The Jungle,Mary And The Witch'S Flower,Maze Runner: The Death Cure,Molly'S Game,Paddington 2,Padmaavat,Permission,Peter Rabbit,Phantom Thread,Pitch Perfect 3,Proud Mary,Sanpo Suru Shinryakusha,Star Wars: The Last Jedi,The 15:17 To Paris,The Commuter,The Disaster Artist,The Greatest Showman,The Insult (L'Insulte),The Post,The Shape Of Water,"Three Billboards Outside Ebbing, Missouri",Till The End Of The World,Winchester
0,"{'Genre': 'Action', 'Gross': '$453,173', 'IMDB...","{'popcornscore': 83, 'rating': 'R', 'tomatosco...","{'popcornscore': 71, 'rating': 'R', 'tomatosco...","{'popcornscore': 91, 'rating': 'PG13', 'tomato...","{'popcornscore': 87, 'rating': 'R', 'tomatosco...","{'popcornscore': 84, 'rating': 'PG13', 'tomato...","{'Genre': 'Action', 'Gross': '$491,898', 'IMDB...","{'popcornscore': 49, 'rating': 'PG', 'tomatosc...","{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'popcornscore': 69, 'rating': 'R', 'tomatosco...","{'popcornscore': 91, 'rating': 'PG', 'tomatosc...","{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'Genre': 'Adventure', 'Gross': '$548,886', 'I...","{'popcornscore': 89, 'rating': 'R', 'tomatosco...","{'popcornscore': 51, 'rating': 'PG13', 'tomato...","{'Genre': 'Action', 'Gross': '$760,867', 'IMDB...","{'popcornscore': 78, 'rating': 'PG', 'tomatosc...","{'Genre': 'Action', 'Gross': '$720,463', 'IMDB...","{'popcornscore': 85, 'rating': 'R', 'tomatosco...","{'Genre': 'Animation', 'Gross': '$184,414', 'I...","{'popcornscore': 62, 'rating': 'NR', 'tomatosc...","{'Genre': 'Comedy', 'Gross': 'unknown', 'IMDB ...","{'Genre': 'Animation', 'Gross': 'unknown', 'IM...","{'popcornscore': 68, 'rating': 'R', 'tomatosco...","{'popcornscore': 52, 'rating': 'PG13', 'tomato...","{'popcornscore': 56, 'rating': 'R', 'tomatosco...","{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'popcornscore': 48, 'rating': 'PG13', 'tomato...","{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'popcornscore': 48, 'rating': 'PG13', 'tomato...","{'popcornscore': 89, 'rating': 'R', 'tomatosco...","{'Genre': 'Biography', 'Gross': '$627,248', 'I...","{'popcornscore': 86, 'rating': 'R', 'tomatosco...","{'Genre': 'Biography', 'Gross': '$463,228', 'I...","{'Genre': 'Adventure', 'Gross': '$448,287', 'I...","{'popcornscore': 87, 'rating': 'R', 'tomatosco...","{'popcornscore': -1, 'rating': 'NR', 'tomatosc...","{'Genre': 'Biography', 'Gross': '$696,786', 'I..."

#### Reading excel files

##### Tips
- methods
  - read_excel(...)

In [35]:
pd.read_excel(r'resources\world_population_excel_workbook.xlsx')

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

#### Settings
- Max Rows/Columns to show

In [39]:
pd.set_option('display.max.rows', 235)
pd.set_option('display.max.columns', 40)

#### Information about dataframes

In [45]:
df1.shape

(227, 2)

In [46]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  227 non-null    object
 1   Region   227 non-null    object
dtypes: object(2)
memory usage: 3.7+ KB

In [50]:
df1.describe()

             Country                               Region
count            227                                  227
unique           227                                   11
top     Afghanistan   SUB-SAHARAN AFRICA
freq               1                                   51

#### Sneak peak at the dataframe
- methods
  - head(x)
  - tail(x)
    - x - number of rows, by default it's 5

In [51]:
df1.head(10)

              Country                               Region
0        Afghanistan         ASIA (EX. NEAR EAST)
1            Albania   EASTERN EUROPE
2            Algeria   NORTHERN AFRICA
3     American Samoa   OCEANIA
4            Andorra   WESTERN EUROPE
5             Angola   SUB-SAHARAN AFRICA
6           Anguilla               LATIN AMER. & CARIB
7  Antigua & Barbuda               LATIN AMER. & CARIB
8          Argentina               LATIN AMER. & CARIB
9            Armenia                  C.W. OF IND. STATES

In [52]:
df1.tail(10)

                Country                               Region
217            Vanuatu   OCEANIA
218          Venezuela               LATIN AMER. & CARIB
219            Vietnam         ASIA (EX. NEAR EAST)
220     Virgin Islands               LATIN AMER. & CARIB
221  Wallis and Futuna   OCEANIA
222          West Bank   NEAR EAST
223     Western Sahara   NORTHERN AFRICA
224              Yemen   NEAR EAST
225             Zambia   SUB-SAHARAN AFRICA
226           Zimbabwe   SUB-SAHARAN AFRICA

In [59]:
pd.set_option('display.max.rows', 10)
pd.set_option('display.max.columns', 10)

##### Reading specific columns
- df[col_name]
- df[[col_names]]

In [60]:
df1['Country']

0         Afghanistan
1             Albania
2             Algeria
3      American Samoa
4             Andorra
            ...
222         West Bank
223    Western Sahara
224             Yemen
225            Zambia
226          Zimbabwe
Name: Country, Length: 227, dtype: object

In [61]:
df1[['Country', 'Region']]

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

##### Reading specific rows
- df.iloc[row_num] - using the row number no matter how indexed it is
- df.loc[index_val] - using a value in the index column

In [62]:
df1.iloc[3]

Country                        American Samoa
Region     OCEANIA
Name: 3, dtype: object

In [66]:
df1.loc[3]

Country                        American Samoa
Region     OCEANIA
Name: 3, dtype: object

### Indexing

##### Setting Index Column

In [54]:
df = pd.read_csv(r'resources\world_population.csv', index_col='Rank')
df

,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
Rank,,,,,,,,,,,,,,,,
36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
172,ESH,Western Sahara,El AaiÃºn,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

<i>Now to see the difference on loc and iloc...</i>

In [55]:
df.iloc[[1]]

,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
Rank,,,,,,,,,,,,,,,,
138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04

In [56]:
df.loc[[1]]

,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
Rank,,,,,,,,,,,,,,,,
1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0,17.88

##### <i>Note</i>
- when setting another column as an index column DO NOT forget to reset the index if the current index column must be kept as just another column to store data
- the inplace kwarg is false by default, if true it changes the current df instead of returning a new one

In [57]:
df.reset_index(inplace=True)
df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El AaiÃºn,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

##### <i>Note</i>
- set_index method sets a new index column just as index_col attribute we used when we read the file

In [58]:
df.set_index('Country', inplace=True)
df

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
Afghanistan,36,AFG,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
Albania,138,ALB,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
Algeria,34,DZA,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
American Samoa,213,ASM,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
Andorra,203,AND,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
Western Sahara,172,ESH,El AaiÃºn,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
Yemen,46,YEM,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
Zambia,63,ZMB,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
Zimbabwe,74,ZWE,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

In [59]:
df.loc[['Andorra']]

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
Andorra,203,AND,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.01,0.0

##### <i>Almost forgot resetting the index ðŸ˜…</i>

In [60]:
df.reset_index(inplace=True)

In [61]:
df.set_index('Continent', inplace=True)
df

,Country,Rank,CCA3,Capital,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
Continent,,,,,,,,,,,,,,,,
Asia,Afghanistan,36,AFG,Kabul,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
Europe,Albania,138,ALB,Tirana,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
Africa,Algeria,34,DZA,Algiers,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
Oceania,American Samoa,213,ASM,Pago Pago,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
Europe,Andorra,203,AND,Andorra la Vella,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Oceania,Wallis and Futuna,226,WLF,Mata-Utu,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
Africa,Western Sahara,172,ESH,El AaiÃºn,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
Asia,Yemen,46,YEM,Sanaa,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
Africa,Zambia,63,ZMB,Lusaka,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
Africa,Zimbabwe,74,ZWE,Harare,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

##### <i>Note</i>
- Unlike iloc return multiple rows using loc is possible

In [65]:
df.loc[['Europe']].head()

,Country,Rank,CCA3,Capital,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
Continent,,,,,,,,,,,,,,,,
Europe,Albania,138,ALB,Tirana,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
Europe,Andorra,203,AND,Andorra la Vella,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
Europe,Austria,99,AUT,Vienna,8939617.0,8907777.0,8642421.0,8362829.0,8010428.0,7678729.0,7547561.0,7465301.0,83871.0,106.5877,1.0020,0.11
Europe,Belarus,96,BLR,Minsk,9534954.0,9633740.0,9700609.0,9731427.0,10256483.0,10428525.0,9817257.0,9170786.0,207600.0,45.9295,0.9955,0.12
Europe,Belgium,81,BEL,Brussels,11655930.0,11561717.0,11248303.0,10877947.0,10264343.0,9959560.0,9828986.0,9629376.0,30528.0,381.8111,1.0038,0.15

In [71]:
df.reset_index(inplace=True)

##### <i>Note</i>
- multiple columns can be set as indexes

In [72]:
df.set_index(['Continent', 'Country'], inplace=True)
df

                             Rank CCA3           Capital  2022 Population  \
Continent Country
Asia      Afghanistan          36  AFG             Kabul       41128771.0
Europe    Albania             138  ALB            Tirana        2842321.0
Africa    Algeria              34  DZA           Algiers       44903225.0
Oceania   American Samoa      213  ASM         Pago Pago          44273.0
Europe    Andorra             203  AND  Andorra la Vella          79824.0
...                           ...  ...               ...              ...
Oceania   Wallis and Futuna   226  WLF          Mata-Utu          11572.0
Africa    Western Sahara      172  ESH          El AaiÃºn         575986.0
Asia      Yemen                46  YEM             Sanaa       33696614.0
Africa    Zambia               63  ZMB            Lusaka       20017675.0
          Zimbabwe             74  ZWE            Harare       16320537.0

                             2020 Population  2015 Population  \
Continent Country
Asia      Afghanistan             38972230.0       33753499.0
Europe    Albania                  2866849.0        2882481.0
Africa    Algeria                 43451666.0       39543154.0
Oceania   American Samoa             46189.0          51368.0
Europe    Andorra                    77700.0          71746.0
...                                      ...              ...
Oceania   Wallis and Futuna          11655.0          12182.0
Africa    Western Sahara            556048.0         491824.0
Asia      Yemen                   32284046.0       28516545.0
Africa    Zambia                  18927715.0              NaN
          Zimbabwe                15669666.0       14154937.0

                             2010 Population  2000 Population  \
Continent Country
Asia      Afghanistan             28189672.0       19542982.0
Europe    Albania                  2913399.0        3182021.0
Africa    Algeria                 35856344.0       30774621.0
Oceania   American Samoa             54849.0          58230.0
Europe    Andorra                    71519.0          66097.0
...                                      ...              ...
Oceania   Wallis and Futuna          13142.0          14723.0
Africa    Western Sahara            413296.0         270375.0
Asia      Yemen                   24743946.0       18628700.0
Africa    Zambia                  13792086.0        9891136.0
          Zimbabwe                12839771.0       11834676.0

                             1990 Population  1980 Population  \
Continent Country
Asia      Afghanistan             10694796.0       12486631.0
Europe    Albania                  3295066.0        2941651.0
Africa    Algeria                 25518074.0       18739378.0
Oceania   American Samoa             47818.0          32886.0
Europe    Andorra                    53569.0          35611.0
...                                      ...              ...
Oceania   Wallis and Futuna          13454.0          11315.0
Africa    Western Sahara            178529.0         116775.0
Asia      Yemen                   13375121.0        9204938.0
Africa    Zambia                   7686401.0        5720438.0
          Zimbabwe                10113893.0        7049926.0

                             1970 Population  Area (kmÂ²)  Density (per kmÂ²)  \
Continent Country
Asia      Afghanistan             10752971.0    652230.0            63.0587
Europe    Albania                  2324731.0     28748.0            98.8702
Africa    Algeria                 13795915.0   2381741.0            18.8531
Oceania   American Samoa             27075.0       199.0           222.4774
Europe    Andorra                    19860.0       468.0           170.5641
...                                      ...         ...                ...
Oceania   Wallis and Futuna           9377.0       142.0            81.4930
Africa    Western Sahara             76371.0    266000.0             2.1654
Asia      Yemen                    6843607.0    527968.0            63.8232
Africa    Zambia                   4281671.0    752612.0            26.5976
          Zimbabwe                 5202918.0    390757.0            41.7665

                             Growth Rate  World Population Percentage
Continent Country
Asia      Afghanistan             1.0257                         0.52
Europe    Albania                 0.9957                         0.04
Africa    Algeria                 1.0164                         0.56
Oceania   American Samoa          0.9831                         0.00
Europe    Andorra                 1.0100                         0.00
...                                  ...                          ...
Oceania   Wallis and Futuna       0.9953                         0.00
Africa    Western Sahara          1.0184                         0.01
Asia      Yemen                   1.0217                         0.42
Africa    Zambia                  1.0280                         0.25
          Zimbabwe                1.0204                         0.20

[234 rows x 15 columns]

##### Sorting using the index column
- kwargs
  - ascending
    - takes a boolean value (pretty much self explantory)

In [73]:
df.sort_index()
df.sort_index(ascending=False)

                            Rank CCA3      Capital  2022 Population  \
Continent     Country
South America Venezuela       51  VEN      Caracas       28301696.0
              Uruguay        133  URY   Montevideo        3422794.0
              Suriname       170  SUR   Paramaribo         618040.0
              Peru            44  PER         Lima       34049588.0
              Paraguay       109  PRY     AsunciÃ³n        6780744.0
...                          ...  ...          ...              ...
Africa        Burkina Faso    58  BFA  Ouagadougou       22673762.0
              Botswana       144  BWA     Gaborone        2630296.0
              Benin           77  BEN   Porto-Novo       13352864.0
              Angola          42  AGO       Luanda       35588987.0
              Algeria         34  DZA      Algiers       44903225.0

                            2020 Population  2015 Population  2010 Population  \
Continent     Country
South America Venezuela          28490453.0       30529716.0       28715022.0
              Uruguay             3429086.0        3402818.0        3352651.0
              Suriname             607065.0         575475.0         546080.0
              Peru               33304756.0       30711863.0       29229572.0
              Paraguay            6618695.0        6177950.0        5768613.0
...                                     ...              ...              ...
Africa        Burkina Faso       21522626.0       18718019.0       16116845.0
              Botswana            2546402.0        2305171.0        2091664.0
              Benin              12643123.0       10932783.0        9445710.0
              Angola             33428485.0       28127721.0       23364185.0
              Algeria            43451666.0       39543154.0       35856344.0

                            2000 Population  1990 Population  1980 Population  \
Continent     Country
South America Venezuela                 NaN       19750579.0       15210443.0
              Uruguay             3292224.0        3117012.0        2953750.0
              Suriname             478998.0         412756.0         375112.0
              Peru               26654439.0       22109099.0       17492406.0
              Paraguay            5123819.0        4059195.0        3078912.0
...                                     ...              ...              ...
Africa        Burkina Faso       11882888.0        9131361.0        6932967.0
              Botswana            1726985.0        1341474.0         938578.0
              Benin               6998023.0        5133419.0        3833939.0
              Angola             16394062.0       11828638.0        8330047.0
              Algeria            30774621.0       25518074.0       18739378.0

                            1970 Population  Area (kmÂ²)  Density (per kmÂ²)  \
Continent     Country
South America Venezuela          11355475.0         NaN            30.8820
              Uruguay             2790265.0    181034.0            18.9069
              Suriname             379918.0    163820.0             3.7727
              Peru               13562371.0   1285216.0            26.4933
              Paraguay            2408787.0    406752.0            16.6705
...                                     ...         ...                ...
Africa        Burkina Faso        5611666.0    272967.0            83.0641
              Botswana             592244.0    582000.0             4.5194
              Benin               3023443.0    112622.0           118.5635
              Angola              6029700.0   1246700.0            28.5466
              Algeria            13795915.0   2381741.0            18.8531

                            Growth Rate  World Population Percentage
Continent     Country
South America Venezuela          1.0036                         0.35
              Uruguay            0.9990                         0.04
              Suriname           1.0082                         0.01
              Peru               1.0099                         0.43
              Paraguay           1.0115                         0.09
...                                 ...                          ...
Africa        Burkina Faso       1.0259                         0.28
              Botswana           1.0162                         0.03
              Benin              1.0274                         0.17
              Angola             1.0315                         0.45
              Algeria            1.0164                         0.56

[234 rows x 15 columns]

In [74]:
df.sort_index(ascending=[True, False])

                              Rank CCA3       Capital  2022 Population  \
Continent     Country
Africa        Zimbabwe          74  ZWE        Harare       16320537.0
              Zambia            63  ZMB        Lusaka       20017675.0
              Western Sahara   172  ESH      El AaiÃºn         575986.0
              Uganda            31  UGA       Kampala       47249585.0
              Tunisia           79  TUN         Tunis       12356117.0
...                            ...  ...           ...              ...
South America Colombia          28  COL        Bogota       51874024.0
              Chile             65  CHL      Santiago       19603733.0
              Brazil             7  BRA      Brasilia      215313498.0
              Bolivia           80  BOL         Sucre       12224110.0
              Argentina         33  ARG  Buenos Aires       45510318.0

                              2020 Population  2015 Population  \
Continent     Country
Africa        Zimbabwe             15669666.0       14154937.0
              Zambia               18927715.0              NaN
              Western Sahara         556048.0         491824.0
              Uganda               44404611.0       37477356.0
              Tunisia              12161723.0       11557779.0
...                                       ...              ...
South America Colombia             50930662.0       47119728.0
              Chile                19300315.0       17870124.0
              Brazil              213196304.0      205188205.0
              Bolivia              11936162.0       11090085.0
              Argentina            45036032.0       43257065.0

                              2010 Population  2000 Population  \
Continent     Country
Africa        Zimbabwe             12839771.0       11834676.0
              Zambia               13792086.0        9891136.0
              Western Sahara         413296.0         270375.0
              Uganda               32341728.0       24020697.0
              Tunisia              10895063.0        9893316.0
...                                       ...              ...
South America Colombia                    NaN       39215135.0
              Chile                17004162.0       15351799.0
              Brazil              196353492.0      175873720.0
              Bolivia              10223270.0        8592656.0
              Argentina            41100123.0       37070774.0

                              1990 Population  1980 Population  \
Continent     Country
Africa        Zimbabwe             10113893.0        7049926.0
              Zambia                7686401.0        5720438.0
              Western Sahara         178529.0         116775.0
              Uganda               17586630.0       13284026.0
              Tunisia               8440023.0        6578156.0
...                                       ...              ...
South America Colombia             32601393.0       26176195.0
              Chile                13342868.0       11469828.0
              Brazil              150706446.0      122288383.0
              Bolivia               7096194.0        5736088.0
              Argentina            32637657.0       28024803.0

                              1970 Population  Area (kmÂ²)  Density (per kmÂ²)  \
Continent     Country
Africa        Zimbabwe              5202918.0    390757.0            41.7665
              Zambia                4281671.0    752612.0            26.5976
              Western Sahara          76371.0    266000.0             2.1654
              Uganda               10317212.0    241550.0           195.6100
              Tunisia               5047404.0    163610.0            75.5218
...                                       ...         ...                ...
South America Colombia             20905254.0   1141748.0            45.4339
              Chile                 9820481.0    756102.0            25.9274
              Brazil               96369875.0   8515767.0            25.2841
              Bolivia               4585693.0   1098581.0            11.1272
              Argentina            23842803.0   2780400.0            16.3683

                              Growth Rate  World Population Percentage
Continent     Country
Africa        Zimbabwe             1.0204                         0.20
              Zambia               1.0280                         0.25
              Western Sahara       1.0184                         0.01
              Uganda               1.0304                         0.59
              Tunisia              1.0076                         0.15
...                                   ...                          ...
South America Colombia             1.0069                         0.65
              Chile                1.0057                         0.25
              Brazil               1.0046                         2.70
              Bolivia              1.0120                         0.15
              Argentina            1.0052                         0.57

[234 rows x 15 columns]

##### <i>Note</i>
- iloc have issues with multiple indexed then sorted dataframes, by reading the old indexed column

In [76]:
df.iloc[[0]]

,,Rank,CCA3,Capital,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
Continent,Country,,,,,,,,,,,,,,,
Asia,Afghanistan,36,AFG,Kabul,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52

##### <i>To test iloc</i>

In [82]:
df = pd.read_csv(r'resources\world_population.csv')
df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El AaiÃºn,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

In [84]:
df.iloc[[0]]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52

In [85]:
df.set_index('Country', inplace=True)
df

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
Afghanistan,36,AFG,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
Albania,138,ALB,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
Algeria,34,DZA,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
American Samoa,213,ASM,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
Andorra,203,AND,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
Western Sahara,172,ESH,El AaiÃºn,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
Yemen,46,YEM,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
Zambia,63,ZMB,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
Zimbabwe,74,ZWE,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

In [86]:
df.sort_index(ascending=False)

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
Zimbabwe,74,ZWE,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20
Zambia,63,ZMB,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
Yemen,46,YEM,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
Western Sahara,172,ESH,El AaiÃºn,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Andorra,203,AND,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
American Samoa,213,ASM,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
Algeria,34,DZA,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
Albania,138,ALB,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
Afghanistan,36,AFG,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52

In [88]:
df.iloc[[0]]

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
Afghanistan,36,AFG,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52

##### This shows iloc uses the initial index set when the data is loaded into the df